@font-face {
  font-family: almarai;
  src: url("../fonts/Almarai-Regular.ttf");
}
@font-face {
  font-family: almarai;
  src: url("../fonts/Almarai-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: almarai;
  src: url("../fonts/Almarai-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: almarai;
  src: url("../fonts/Almarai-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 5px;
  margin: 0 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}
body,
html {
  direction: rtl;
  text-align: right;
  font-family: almarai;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}

.login-content {
  background-image: url("../images/login-bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  left: 0;
  min-height: auto;
  height: 100vh;
  width: 56%;
  background-position: 61% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 50, 88, 0.65);
    z-index: 0;
  }
  .content-wrap {
    position: relative;
    z-index: 1;
    width: 750px;
    margin: 6% 10% 0 auto;
    height: 100%;
    h2 {
      font-weight: bold;
      line-height: 53px;
      margin-top: 42px;
      margin-bottom: 0;
    }
    p.content {
      font-size: 15px;
      line-height: 30px;
      width: 600px;
      margin: auto;
    }
  }
  ul.logos {
    li {
      display: inline-block;
      vertical-align: bottom;
      padding: 0px 28px;
      position: relative;
      &:last-child {
        padding: 0px 28px 0 0;
      }
      &:not(:last-child):after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 44px;
        background: #fff;
      }
    }
  }
  .row.footer {
    line-height: 45px;
    padding-top: 20px;
    p {
      font-size: 14px;
      direction: ltr;
      flex: auto;
      text-align: left;
    }
    ul.footer-links {
      padding: 0;
      flex: auto;
      li {
        display: inline-block;
        color: #fff;
        font-size: 13px;
        &:first-child:after {
          content: "|";
          vertical-align: top;
          padding: 0 5px;
        }
        a {
          color: inherit;
          line-height: 45px;
          vertical-align: super;
          &:hover {
            text-decoration: none;
            color: #45ae54;
          }
        }
      }
    }
  }
  .row.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .row.description {
    height: 80vh;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
.login-form {
  width: 44%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #45ae54;
  }
  &::after {
    content: "";
    position: absolute;
    left: 2px;
    top: calc(50% - 72px);
    height: 145px;
    width: 22px;
    background-image: url("../images/Union 1.svg");
    background-repeat: no-repeat;
  }
  .form-wrap {
    width: 468px;
    margin: 0 auto;
    padding-top: 6%;
    min-width: 320px;
    min-height: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    ul.langs {
      margin-top: 40px;
      li {
        display: inline-block;
        font-size: 16px;
        color: #8b8d8f;
        &:first-child:after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 17px;
          margin: 0 18px;
          background-color: #c8cdd2;
          position: relative;
          top: 4px;
        }
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
            color: #26984d;
          }
        }
      }
      li.active {
        color: #26984d;
      }
    }
    h1 {
      color: #275e9d;
      font-weight: bold;
      line-height: 55px;
      margin-top: 45px;
      margin-bottom: 20px;
    }
    .form-container {
      padding: 20px 0;
      .form-group label span {
        color: #fb2b2b;
      }
      label {
        color: #464749;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 1rem;
      }
      .form-group input.form-control {
        background: #ebeef2;
        border: none;
        border-radius: 0;
        border-right: 4px solid #45ae54;
        height: calc(1.5em + 0.75rem + 6px);
        line-height: 3;
        margin-bottom: 1.5rem;
      }
      label.custom-control-label {
        padding-right: 26px;
        cursor: pointer;
      }
      .custom-checkbox .custom-control-label::before {
        border-radius: 0;
        border: none;
        background-color: #ebeef2;
        position: absolute;
        right: 0;
        left: auto;
      }
      .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none;
      }

      .custom-checkbox
        .custom-control-input:checked
        ~ .custom-control-label::after {
        background-color: #45ae54;
        right: 0;
        left: auto;
      }
      .login-btn {
        font-size: 16px;
        line-height: 30px;
        width: 243px;
        padding: 0.563rem 0.75rem;
        box-shadow: 0px 7px 17px -3px #45ae54;
      }
      a.forget {
        flex: auto;
        text-align: left;
        padding-top: 14px;
        font-size: 14px;
        font-weight: bold;
      }
      button.btn.btn-primary.login-lg-btn {
        width: 100%;
        position: relative;
        font-size: 16px;
        line-height: 30px;
        padding: 0.875rem 0.75rem;
        box-shadow: 0px 7px 17px -3px #1d4d8b;
      }
      span.btn-icon {
        position: absolute;
        right: 0;
        height: 48px;
        padding: 6px 23px;
        top: 5px;
      }
    }
  }
}
body.dashboard {
  overflow: hidden;
}
section.side-nav {
  background: rgb(26, 78, 145);
  background: linear-gradient(
    180deg,
    rgba(26, 78, 145, 1) 0%,
    rgba(11, 53, 107, 1) 100%
  );
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
  z-index: 999;
  .nav-wrapper {
    height: 100%;
    overflow: auto;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #45ae54;
    z-index: 9;
  }
  #slide-toggle {
    position: absolute;
    left: 2px;
    top: 20px;
    height: 145px;
    width: 22px;
    background: none;
    border: none;
    background-image: url("../images/Union 1.svg");
    background-repeat: no-repeat;
    color: #fff;
    transition: 0.3s;
    z-index: 99;
    &:focus {
      outline: none;
    }
  }
  #slide-toggle.reversed {
    transform: rotateY(180deg);
    left: -19px;
  }
  .nav-logo {
    text-align: center;
    padding-top: 20px;
  }
  .user-card {
    padding: 0 15px;
    margin-top: 60px;

    .main-data {
      img {
        height: max-content;
        border-radius: 50%;
        position: relative;
        top: -8px;
      }
      .title {
        flex: auto;
        padding-right: 20px;
        h6 {
          color: #fff;
          line-height: 17px;
        }

        p {
          color: #45ae54;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.18);
      margin: 0;
    }
    .sub-data {
      .data-box {
        flex: auto;
        width: 50%;
        padding-top: 10px;
        color: #ffffffd9;
        position: relative;
        &:last-child {
          padding-right: 30px;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 15px;
            height: 49px;
            width: 1px;
            background: rgba(255, 255, 255, 0.18);
          }
        }
        h6 {
          font-weight: bold;
          line-height: 22px;
        }
        p {
          font-size: 13px;
          span {
            color: #57d87d;
            font-size: 23px;
            font-weight: bold;
            line-height: 13px;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  #MainMenu {
    margin-top: 40px;
    .list-group {
      .list-group-item {
        background: none;
        border: none;
        border-radius: 0;
        color: #b9d0ec;
        font-size: 15px;
        line-height: 17px;
        padding: 18px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.18);

        &:hover {
          text-decoration: none;
        }
        i,
        .pre-item-icon {
          font-size: 19px;
          line-height: 15px;
          margin: 0 20px;
        }
        .expand-icon {
          position: absolute;
          left: 20px;
          top: 20px;
        }
      }
      & > .list-group-item {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.02);
        }
      }
      .list-group-item.active {
        color: #ffffff !important;
        background-color: #45ae54 !important;
      }
      .list-group-item.child-item {
        padding-right: 45px;
        font-size: 14px;
        line-height: 16px;
        color: #73a9e9;
        i {
          font-size: 14px;
          line-height: 15px;
          margin: 0 10px;
        }
      }
    }
  }

  .nav-footer {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 21px;
    margin: 40px 15px 20px;
    padding-bottom: 8px;
    direction: ltr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }
  .logos {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 10px;
      position: relative;
      &:after {
        position: absolute;
        top: 6px;
        left: 0;
        width: 1px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0.9);
        content: "";
      }
      &:nth-child(1) img {
        width: 78px;
      }
      &:nth-child(2) img {
        width: 48px;
      }
      &:nth-child(3) img {
        width: 53px;
      }
      &:nth-child(3) {
        &:after {
          display: none;
        }
      }
    }
  }
}
span.nofication-count {
  background-color: #db5757;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 18px;
}
section.side-nav.closed {
  transform: translateX(300px);
}
.main-container {
  margin-right: 300px;
  transition: 0.3s;
  height: 100vh;
  width: calc(100vw - 300px);
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: auto;

}
.main-container.full-container {
  margin-right: 0;
  width: 100vw;
}

header.top-nav {
  position: relative;
  padding-top: 40px;
  border-bottom: 1px solid #d3d3db;
  h3 {
    color: #464749;
    font-weight: bold;
    line-height: 37px;
    margin-bottom: 15px;
  }
  ul.menu-btns {
    position: absolute;
    left: 0;
    padding: 0;
    top: 15px;
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background: #fff;
      border-radius: 50%;
      margin: 10px;
      position: relative;
      a#menu-nofi-btn:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        background: #db5757;
        border-radius: 50%;
        right: 8px;
        top: 5px;
      }
    }
    & > li {
      & > a {
        display: block;
      }
    }
  }
}
.home-cards {
  margin: 30px 0 20px;
}
.sm-card {
  background-color: #fcfcfc;
  border: 2px solid #adcae2;
  box-shadow: 0 0 15px 0 #dbdde8;
  border-radius: 25px;
  min-height: 48px;
  margin: 10px 0;
  .sm-card-header {
    position: relative;
    z-index: 5;
    .panel-wrapper {
      position: relative;
      button.card-btn {
        background: none;
        border: none;
        position: absolute;
        right: 3px;
        top: 3px;
        width: 37px;
        height: 37px;
        display: flex;
        color: #bcccd9;

        border-radius: 50%;
        &:focus,
        &:hover {
          background-color: #f3f3f3;
          outline: none;
        }

        & > i {
          margin: auto;
        }
      }
      ul {
        position: absolute;
        padding: 0;
        width: 150px;
        background: #ffffff;
        box-shadow: 0 0 15px 0 rgba(44, 56, 68, 0.13);
        text-align: right;
        top: 40px;
        right: 5px;
        display: none;
        li {
          list-style: none;
          a {
            display: block;
            padding: 7px 10px;
            font-size: 14px;
            line-height: 16px;
            color: rgba(70, 71, 73, 0.9);
            i {
              margin-left: 5px;
              width: 15px;
              font-size: 12px;
            }
            &:hover {
              text-decoration: none;
            }
          }
          a.disabled {
            cursor: default;
            opacity: 0.5;
          }
        }
        hr {
          margin: 4px 0;
        }
      }
    }
  }
  .card-body {
    height: 100%;
    position: relative;
    padding: 25px;
    padding-bottom: 2px;
    &:before {
      content: "";
      background-image: url("../images/Path 6106.png");
      background-repeat: no-repeat;
      width: 51px;
      height: 51px;
      position: absolute;
      bottom: 15px;
      left: 15px;
    }

    .status-counter {
      font-family: roboto;
      font-size: 22px;
      width: 55px;
      height: 55px;
      margin: auto;
      color: #fff;
      line-height: 55px;
      border-radius: 50%;
    }
    h4 {
      color: #464749;
      font-weight: bold;
      line-height: 28px;
      height: calc(28px * 2);
      margin-top: 10px;
    }
    p {
      color: #8b8d8f;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
.sm-card.tasks {
  .card-body {
    &:before {
      content: "";
      background-image: url("../images/task-icon.png");
    }
  }
}
.orange-bg {
  background-color: rgba(255, 154, 38, 0.75);
}
.green-bg {
  background-color: rgba(38, 152, 77, 0.75);
}
.grey-bg {
  background-color: rgba(70, 71, 73, 0.75);
}
.cyan-bg {
  background-color: rgba(80, 203, 244, 0.75);
}
.regular-card {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #dbdde8;
  border-radius: 12px;
  min-height: 48px;

  padding: 5px;
  .panel-wrapper {
    position: relative;
    button.card-btn {
      background: none;
      border: none;
      position: absolute;
      left: 3px;
      top: 3px;
      width: 37px;
      height: 37px;
      display: flex;
      color: #bcccd9;

      border-radius: 50%;
      &:focus,
      &:hover {
        background-color: #f3f3f3;
        outline: none;
      }

      & > i {
        margin: auto;
      }
    }
    ul {
      position: absolute;
      padding: 0;
      width: 150px;
      background: #ffffff;
      box-shadow: 0 0 15px 0 rgba(44, 56, 68, 0.13);
      text-align: right;
      top: 40px;
      left: 5px;
      display: none;
      z-index: 9;
      li {
        list-style: none;
        a {
          display: block;
          padding: 7px 10px;
          font-size: 14px;
          line-height: 16px;
          color: rgba(70, 71, 73, 0.9);
          i {
            margin-left: 5px;
            width: 15px;
            font-size: 12px;
          }
          &:hover {
            text-decoration: none;
          }
        }
        a.disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
      hr {
        margin: 4px 0;
      }
    }
  }
  .reg-card-header {
    position: relative;
    margin-bottom: 15px;

    h4 {
      font-weight: bold;
      color: #464749;
      line-height: 31px;
      padding: 5px 15px;
      margin: 0;
    }
  }
  .card-body {
    padding: 0;
    height: calc(100% - 65px);
  }
}
div.dataTables_wrapper {
  direction: rtl;
}

/* Ensure that the demo table scrolls */
th,
td {
  white-space: nowrap;
}
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}
table.dataTable.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #e8eaf3;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: 98% center;
}
.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
  margin: 10px 0;
}
span.data-icon {
  color: #20b79e;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-left: 10px;
}
span.data-icon.no-icon {
  background-color: #edf0f3 !important;
  border: 2px solid #c8cdd2;
}
table.dataTable {
  thead {
    background-color: #1d4d8b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    th {
      padding: 15px 18px;
    }
    .sorting {
      background-image: none;
      // span {
      //   white-space: normal;
      // }
      span.custom-sort {
        background-image: url("../images/sort.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .sorting_asc {
      background-image: none;
      span.custom-sort {
        background-image: url("../images/asc-sort.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .sorting_desc {
      background-image: none;
      span.custom-sort {
        background-image: url("../images/desc-sort.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  tbody {
    tr {
      background-color: #ffffff;
      position: relative;
      &:nth-of-type(odd) {
        background-color: #f5f5f9;
      }
      td {
        border-top: 1px solid #e8eaf3;
        padding: 8px 10px;
        font-size: 15px;
        color: #666666;
        line-height: 30px;
      }
    }
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #153e72 !important;
  background-color: none !important;
  background: none !important;
  border: none !important;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  width: 37px;
  height: 37px;
  line-height: 37px;
  &.current {
    color: #fff !important;
    background-color: #153e72 !important;
    background: #153e72 !important;
    &:hover {
      color: #fff !important;
      background-color: #153e72 !important;
      background: #153e72 !important;
    }
  }
  &:hover {
    color: #153e72 !important;
    background-color: none !important;
    background: none !important;
  }
}
span.pop-details {
  color: #20b79e;
  background: #fff;
  display: inline-block;
  width: 29px;
  height: 29px;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #20b79e;
  box-shadow: 0 15px 25px -20px rgba(158, 168, 201, 0.5);
  vertical-align: inherit;
  margin-right: 8px;
  cursor: pointer;
}
.details-card {
  position: absolute;
  z-index: 999999999;
  width: 100%;
  right: 0;
  left: 0;
  text-align: center;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 15px 25px -5px rgba(158, 168, 201, 0.5);
  display: none;
  transition: 0.3s;
  color: #1d4d8b;
}
span.separate {
  width: 1px;
  display: inline-block;
  background: #93a7bb;
  height: 24px;
  margin: 0 15px;
  vertical-align: middle;
}
table tr button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(1.1);
  }
}
p.total {
  text-align: left;
  padding-left: 20%;
  font-size: 16px;
  font-weight: bold;
  color: #464749;
  margin-top: 15px;
  span {
    margin-right: 15px;
  }
}
.alerts {
  min-height: 100%;
  div#v-pills-tab {
    margin: auto;
    padding: 15px;
    .nav-link {
      position: relative;
      font-size: 15px;
      line-height: 42px;
      color: #666666;
      border-radius: 28px;
      padding: 0 20px;
      margin: 15px 0;
      white-space: nowrap;
    }
    .nav-link.active {
      background-color: #e5effb;
      color: #1d4d8b;
    }
  }
  .tab-content {
    flex: auto;
    border-right: 1px solid #d1d6db;

    .tab-pane {
      padding: 0 18px;
      height: 500px;
      overflow-y: scroll;
      .notification-card {
        font-size: 14px;
        color: #828282;
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #d1d6db;
        &:hover .panel-wrapper button.card-btn {
          opacity: 1;
        }
        &.unread {
          font-size: 15px;
          color: #464749;
          cursor: pointer;
          &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 90px;
            background: #337ab7;
            top: 20px;
            right: -13px;
          }
        }
        .panel-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          button.card-btn {
            color: #fff;
            background: #1d4d8b;
            transition: 0.3s;

            opacity: 0;
            &:focus,
            &:active {
              opacity: 1;
            }
          }
        }
        h6 {
          font-size: inherit;
          font-weight: bold;
          line-height: 26px;
        }
        p {
          font-size: 14px;
          line-height: 22px;
        }
        cite {
          font-size: 12px;
          color: rgba(139, 141, 143, 0.9);
          display: block;
          text-align: left;
          font-style: normal;
          line-height: 14px;
        }
      }
    }
  }
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
span.count {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #db5757;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.check-info {
  padding: 10px 15px;
  min-height: 50px;
  .info-block {
    flex: auto;
    font-size: 15px;
    display: flex;
    margin: 10px 0;
    span.info-title {
      color: #1d4d8b;
      i {
        font-size: 16px;
        margin-left: 5px;
      }
    }

    span.info-data {
      color: #666666;
      flex: auto;
      text-align: center;
      position: relative;
      .pop-details {
        width: 25px;
        height: 25px;
        line-height: 25px;
        transition: 0.3s;
        margin-left: 10px;
        &:hover,
        &.active {
          transform: scale(1.16);
        }
      }
      .details-card {
        right: auto;
        width: auto;
        left: 0;
        border-radius: 11px;
        box-shadow: 0 3px 25px 6px rgba(0, 0, 0, 0.12);
        top: 40px;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          top: -10px;
          left: 10px;
        }
        ul {
          padding-right: 20px;
          margin: 0;

          li {
            white-space: nowrap;
            text-align: right;
          }
        }
      }
    }
    &:last-child {
      flex-grow: 0.5;

      span.info-data {
        vertical-align: sub;
        text-align: left;
        cursor: pointer;
        &:hover,
        &:focus {
          color: #1d4d8b;
        }
      }
    }
  }
}
.blue-border {
  border: 2px solid;
  border-color: #adcae2;
  box-shadow: 0 5px 15px #dbdde8;
}

.process-progress {
  padding: 30px 30px 50px;
  width: 90%;
  margin: auto;
  position: relative;
  .process {
    position: relative;
    text-align: left;
    padding: 0;
    .process-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #20b79e;
      box-shadow: 0 5px 15px #dbdde8;
      border-radius: 50%;
      background: #fff;
      z-index: 5;
      position: relative;
    }
    &.empty {
      .process-icon {
        background-color: #edf0f3;
        border: 2px solid #c8cdd2;
      }
      &:before {
        background: #c8cdd2;
      }
    }
    .process-title {
      color: #464749;
      font-size: 16px;
      white-space: nowrap;
      position: absolute;
      left: -40px;
      padding-top: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 13px;
      background: #20b79e;
    }
    &:first-child {
      position: absolute;
      right: 0;
      &:before {
        content: none;
      }
    }
  }
}
.latest.process:not(.empty) .process-icon {
  border: 2px solid;
}

.check-pills {
  margin: 10px 30px;
  padding: 2px;
  background: #f3f3f3;
  border-radius: 26px;
  .nav-link {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 40px 13px 70px;
    border-radius: 25px;
    i {
      color: #c8cdd2;
      margin-left: 10px;
      font-size: 22px;
      vertical-align: middle;
    }
    img {
      margin-left: 10px;
    }
    &.active {
      background: #ffffff;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }
  }
}
div#pills-info {
  padding: 50px 10px;
  .data-item {
    padding: 12px 0;
    .title {
      color: #1d4d8b;
      font-size: 15px;
      line-height: 30px;
      padding-left: 0;
      white-space: nowrap;
      i {
        margin-left: 6px;
        font-size: 18px;
      }
    }
    .data {
      color: #666666;
      line-height: 24px;
    }
  }
  .colored {
    background: #f5f5f9;
  }
  .details-card {
    right: auto;
    width: auto;
    left: 90px;
    border-radius: 11px;
    box-shadow: 0 3px 25px 6px rgba(0, 0, 0, 0.12);
    top: 40px;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      top: -10px;
      left: 10px;
    }
    ul {
      padding-right: 20px;
      margin: 0;

      li {
        white-space: nowrap;
        text-align: right;
      }
    }
  }
}

.progress-states {
  padding: 0 15px;
  position: relative;
  &:after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: #c8cdd2;
    position: absolute;
    top: 20px;
    right: 14px;
    z-index: 0;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
  .state {
    display: inline-block;
    color: #464749;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 13px 40px;
    position: relative;
    z-index: 5;
    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      border: 2px solid #20b79e;
      background: #fff;
      right: -10px;
      top: 18px;
    }
  }
  .process-progress {
    padding: 60px 30px 130px;
    .process {
      .process-title {
        white-space: normal;
        width: 95%;
        font-size: 14px;
        left: -40%;
        text-align: center;
        line-height: 24px;
      }
      &:first-child {
        .process-title {
          min-width: 130px;
          width: auto;
          left: -55px;
        }
      }
    }
  }
  button.process-btn {
    display: block;
    margin: auto;
    background: #fff;
    border: 1px solid #20b79e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 25px;
    text-align: center;
    color: #20b79e;
    margin-top: 10px;
    &:focus {
      outline: none;
    }
  }
}

.tab-content > .tab-pane {
  padding: 50px 10px;
}

.modal {
  button.close {
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 48px;
    color: #8B8D8F;
  }
}
span.data-icon.nope {
  color: #db5757;
}
.modal-title {
  font-weight: bold;
  color: #464749;
}

.modal-body ul {
  padding-right: 15px;
  li {
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    margin: 15px 0;
  }
  
}
span.data-icon.empty {
  background: #EDF0F3;
  border: 2px solid #C8CDD2;
}
#scroll-up-button{
  background: none;
  border: none;
  background-color: #45AE54;
  opacity: 0.4;
  width: 52px;
  height: 52px;
  border-radius: 6px;
  position: fixed;
  left: 30px;
  bottom: 25px;
  transition: 0.3s;
  display: none;
  &:hover{
    opacity: 1;
  }
}
footer{
  height: 18px;
  background: #45AE54;
  margin: 0 -30px;
}