@media (max-width: 1599px) {
  .login-content {
    .content-wrap {
      margin: 6% 5% 0 auto;
      width: 90%;
    }
  }
  .main-container.container-fluid {
    width: 100%;
}
}
@media (max-width: 1400px) {
  .login-content {
    .content-wrap {
      margin: 6% 5% 0 auto;
      width: 90%;
      h2 {
        font-weight: bold;
        line-height: 53px;
        margin-top: 42px;
        margin-bottom: 0;
        font-size: 25px;
      }
      .row.footer ul.footer-links li {
        font-size: 10px;
      }
      .row.footer p {
        font-size: 12px;
        direction: ltr;
      }
    }
  }
}
@media (max-width: 1199px) {
  .login-content {
    display: none;
  }
  .login-form {
    width: 100%;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .main-container{
    padding-left: 15px;
    padding-right: 15px;
  }
  // .check-info{
  //   flex-direction: column;
  // }
}


@media (max-width:468px){
  .login-form .form-wrap{
    width: auto;
  }
}