@media (max-width: 1599px) {
  .login-content {
    .content-wrap {
      margin: 6% 5% 0 auto;
      width: 90%;
    }
  }
  .main-container.container-fluid {
    width: 100%;
}
}
@media (max-width: 1400px) {
  .login-content {
    .content-wrap {
      margin: 6% 5% 0 auto;
      width: 90%;
      h2 {
        font-weight: bold;
        line-height: 53px;
        margin-top: 42px;
        margin-bottom: 0;
        font-size: 25px;
      }
      .row.footer ul.footer-links li {
        font-size: 10px;
      }
      .row.footer p {
        font-size: 12px;
        direction: ltr;
      }
    }
  }
}
@media (min-width:1300px){
  .container{
    max-width: 1230px;
  }
}

@media (min-width:1200px){
  .info-block{
    max-width: initial;
    width: auto;
  }
  .common-cards {
    .w-20 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}
@media (max-width: 1199px) {
  .login-content {
    display: none;
  }
  .login-form {
    width: 100%;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .main-container{
    padding-left: 15px;
    padding-right: 15px;
  }
  // .check-info{
  //   flex-direction: column;
  // }
  .check-info .info-block:last-child span.info-data{
    text-align: center;
  }
  .check-info .info-block span.info-data .details-card:after{
    left:auto
  }
  div#pills-info .colored{
    background: none;
  }
  .top-search-form input {
    width: 220px;
  }
}
@media (max-width:991px)
{
  .process-progress .process .process-title{
    font-size: 12px;
    left: -30px;
  }
}
@media (max-width:767px){
  .top-search-form {
    display: block;
  }
  .top-search-form input {
    width: 100%;
    margin-right: 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  .top-search-form button {
    top: auto;
    bottom: 0;
  }
  .custom-filter-select {
    width: 100% !important;
    margin-right: 0;
  }
  .filter-bar{
    flex-direction: column;
    .custom-select-box{
      text-align: right;
    }
  }
  .common-cards{
    .w-20
    {
      max-width: none !important;
      min-width: none !important;
    }
  }
  header.report-search .custom-select-box .custom-filter-select {
    margin-right: auto;
    margin-left: auto;
}
header.report-search .custom-select-box{
  padding: 0 15px;
  margin-bottom: 20px;
}
}
@media (max-width:468px){
  .login-form .form-wrap{
    width: auto;
  }
}